<!DOCTYPE html>
<html>

<head>
    <title>Please work</title>
    <!--link rel="stylesheet" type="text/css" href="/styles.css"-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <style>
        body,
        html {
            overflow: hidden;
            margin: 0px;
            padding: 0px;
        }

        #base {
            position: relative;
            z-index: 0;
            width: 1920px;
            height: 1080px;
        }

        #main {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        #interface .recognition-area {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        .progress-ring__circle {
            stroke-dasharray: 10 20;
        }
    </style>
</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        const socket = io.connect('http://127.0.0.1:5000', { transport: ['websocket', 'polling'] });
        var a = 0;

        var ing = [];
        var inf = [];
        var results;
        /* socket.on('wcap', (image) => {
            const imageElm = document.getElementById('img');
            imageElm.src = `data:image/jpeg;base64,${image}`;
        }); */
        socket.on('results', (results) => {
            //console.log(typeof results);
            //console.log(results);
            //results = JSON.stringify(results);
            parsedResults = JSON.parse(results);
            console.log(parsedResults);
            results = parsedResults;
            Array.from(parsedResults).forEach(item => {
                var aux = false;
                if (!inf[item.label] && !aux) {
                    console.log('entro');
                    inf[item.label] = {};
                    aux = true;
                    $.ajax({
                        method: 'GET',
                        url: 'https://smart-kitchen-upc.herokuapp.com/api/ingredients/' + item.label,
                        async: true,
                        headers: {
                            "Access-Control-Allow-Origin": "*"
                        }
                    }).done(function (data) {
                        console.log(data);
                        inf[item.label] = data;
                    }).fail(function (data) {
                        console.log(data);
                    });
                }
            });

            //setear variable general
            ing = parsedResults;
        });
        function setup() {
            var canvas = createCanvas(1600, 900);
            noFill();
            stroke(0);
        }

        function draw() {
            background(0);
            console.log(ing);
            Array.from(ing).forEach(item => {
                console.log(item);
                var cat_x = item.bottomright.x - item.topleft.x;
                var cat_y = item.bottomright.y - item.topleft.y;
                var diam = Math.sqrt(Math.pow(cat_x, 2) + Math.pow(cat_y, 2));
                var rad = diam / 2;
                translate(item.topleft.x, item.topleft.y);
                // rotate(a);
                dashedCircle(rad, 4, 4, item.topleft.x, item.topleft.y);
                drawTitle(item.label, item.topleft.x, item.topleft.y);
            });
            // x += 10

        }

        function dashedCircle(radius, dashWidth, dashSpacing, x, y) {
            var steps = 200;
            var dashPeriod = dashWidth + dashSpacing;
            var lastDashed = false;
            for (var i = 0; i < steps; i++) {
                var curDashed = (i % dashPeriod) < dashWidth;
                if (curDashed && !lastDashed) {
                    beginShape();
                }
                if (!curDashed && lastDashed) {
                    endShape();
                }
                if (curDashed) {
                    strokeWeight(1);
                    stroke(255, 255, 255);
                    var theta = map(i, 0, steps, 0, TWO_PI);
                    vertex(cos(theta) * radius + x, sin(theta) * radius + y);
                }
                lastDashed = curDashed;
            }
            if (lastDashed) {
                endShape();
            }
        }

        function drawTitle(title, top_x, top_y) {
            strokeWeight(0);
            textSize(16);
            textStyle(BOLD);
            fill(255);
            // console.log((top_w - top_x) / 2, top_y - 20);
            text(title, top_x, top_y - 55);
        }

        function getRndInteger(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }
    </script>
</body>

</html>